.table {
  @apply w-full text-sm text-left text-gray-500 border-2 overflow-x-auto;

  & .table-head {
    @apply uppercase font-bold bg-gray-700 text-white;

    & th {
      @apply text-sm font-bold px-6 py-4 text-left;
    }
  }

  & tbody tr {
    @apply bg-white;
  }

  & tbody td {
    @apply px-6 py-4 text-black;
  }
}

/*Mobile View*/
@media only screen and (max-width: 760px) {
  .table {
    @apply border-0;

    & td,
    & tr {
      @apply block;
    }

    & thead tr {
      @apply absolute;
      top: -9999px;
      left: -9999px;
    }
    tr + tr {
      @apply mt-2;
    }

    tr {
      @apply border rounded-sm border-gray-300;
    }

    td {
      @apply flex flex-col relative border-b whitespace-normal #{!important};

      &:before {
        content: attr(xs-label);
        @apply text-black inline-block uppercase font-bold;
      }
    }
  }
}
