USE [AB_ALBERTO_MARTINEZ]
GO
/****** Object:  StoredProcedure [NEGOCIO].[Plt_De_Negocio_Presupuesto_de_venta]    Script Date: 12/09/2026 11:22:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [NEGOCIO].[Plt_De_Negocio_Presupuesto_de_venta]
  @IdNegocio INT,
  @IdElemento INT
AS
BEGIN
    -- Descriptor de información para la plantilla
    select tipo, dato
    from (
          select 0 as orden, 'pltFormulasDePlantilla' as tipo, RTRIM(-1) as dato
          union
          select 1 as orden, 'pltDatosDePlantilla' as tipo, '1:solicitante' as dato
          union
          select 2 as orden, 'pltFilasDeTabla' as tipo, '2:tablasinuso' as dato
          union
          select 3 as orden, 'pltMapeosDeTabla' as tipo, 'tablasinuso:col0=col0' as dato)
       as descriptor
    order by orden

    -- 1) {{{solicitante.nif}}}: VAT si lo tiene; si no, el NIF de la Persona o la Sociedad del interlocutor
    select top(1) COALESCE(per.NIF, soc.NIF) as nif
    from PRESUPUESTO.PRESUPUESTO p
    left join TERCEROS.INTERLOCUTOR interl on interl.ID = p.ID_SOLICITANTE
    left join TERCEROS.PERSONA per on per.ID = interl.ID_PERSONA
    left join TERCEROS.SOCIEDAD soc on soc.ID = interl.ID_SOCIEDAD
    where p.ID = @IdElemento

    -- 2) tabla de relleno, no usada en el Word -- existe solo porque el descriptor exige al menos
    -- un bloque bien formado en pltFilasDeTabla/pltMapeosDeTabla (no admiten cadena vacía)
    select 'x' as col0

END
GO