USE [AB_ALBERTO_MARTINEZ]
GO
/****** Object:  StoredProcedure [NEGOCIO].[Plt_De_Negocio_Factura_propia]    Script Date: 12/09/2026 11:33:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- El VAT de TERCEROS.CLIENTE puede venir vacío -- el NIF "de verdad" se saca del interlocutor
-- (persona o sociedad) asociado, exactamente como hace en C# ClienteDtm.NIF(contexto):
--   cliente.VAT.IsNullOrEmpty() ? cliente.Interlocutor(contexto).NIF(contexto) : cliente.VAT
-- y a su vez InterlocutorDtm.NIF() devuelve el NIF de Persona si EsPersona, si no el de Sociedad.
-- Eso no es una propiedad de ClienteDto, así que no puede salir de {{{maestro.cliente...}}} -- hay
-- que traerlo aquí, con el mismo fallback en SQL: VAT -> NIF de la persona -> NIF de la sociedad.
ALTER PROCEDURE [NEGOCIO].[Plt_De_Negocio_Factura_propia]
  @IdNegocio INT,
  @IdElemento INT
AS
BEGIN
    -- Descriptor de información para la plantilla
    select tipo, dato
    from (
          select 0 as orden, 'pltFormulasDePlantilla' as tipo, RTRIM(-1) as dato
          union
          select 1 as orden, 'pltDatosDePlantilla' as tipo, '1:cliente' as dato
          union
          select 2 as orden, 'pltFilasDeTabla' as tipo, '2:tablasinuso' as dato
          union
          select 3 as orden, 'pltMapeosDeTabla' as tipo, 'tablasinuso:col0=col0' as dato)
       as descriptor
    order by orden

    -- 1) {{{cliente.nif}}}: VAT si lo tiene; si no, el NIF de la Persona o la Sociedad del interlocutor
    select top(1)
          COALESCE(cli.VAT, per.NIF, soc.NIF) as nif
    from VENTA.FACTURA_EMT f
    inner join TERCEROS.CLIENTE cli on cli.ID = f.ID_CLIENTE
    left join TERCEROS.INTERLOCUTOR interl on interl.ID = cli.ID_INTERLOCUTOR
    left join TERCEROS.PERSONA per on per.ID = interl.ID_PERSONA
    left join TERCEROS.SOCIEDAD soc on soc.ID = interl.ID_SOCIEDAD
    where f.ID = @IdElemento

    -- 2) tabla de relleno, no usada en el Word -- existe solo porque el descriptor exige al menos
    -- un bloque bien formado en pltFilasDeTabla/pltMapeosDeTabla (no admiten cadena vacía)
    select 'x' as col0

END
